<h1>Products</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Actual Price</th>
      <th>Current Price</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.actual_price %></td>
        <td><%= product.current_price %></td>
        <td><%= product.description %></td>
        <td><%= product.user.name %></td>
        <td><%= link_to 'Show', customer_product_path(product), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_customer_cart_path(product), class: 'btn btn-secondary' %></td>
        <td>
          <%= link_to "Destroy", customer_cart_path(product), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_customer_product_path, class: 'btn btn-success' %>
