<% current_user.products.each do |product| %>
  <div class="card bg-dark text-white" style="width: 18rem;">
    <% product.images.each do |image| %>
      <%= image_tag image, class: "card-img-top", alt: "Product Image" %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">Actual Price: <%= product.actual_price %></p>
      <p class="card-text">Current Price: <%= product.current_price %></p>
      <p class="card-text">Description: <%= product.description %></p>
    </div>

    <div class="card-body d-flex justify-content-between">
      <button class="btn btn-primary mr-2">Add to Cart</button>
      <button class="btn btn-success">Buy Now</button>
    </div>
  </div>
<% end %>

<%= link_to 'Back', products_path, class: 'btn btn-secondary mt-3' %>
